**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.run.xml
**/*synctex.gz
template/main.pdf
article/empty/main.pdf
yearbook/figures/sponzori/*
yearbook/papers/**
yearbook/pdf/**
